@page "/chat"
@rendermode InteractiveServer
@using System.ComponentModel
@using pp_blazor.ScopedService
@inject ChatService ChatService
@inject IJSRuntime JS

<PageTitle>Chat</PageTitle>

@if (loggedIn)
{
    @foreach (var chat in chats)
    {
        <span>@chat</span>
        <br />
    }
    <form method="post" @onsubmit="PostMessage" @formname="post-plain-form">
        <AntiforgeryToken />
        Comment:
        <InputText @bind-Value="PostModel!.Message" />
        <button type="submit">Post</button>
    </form>
}
else
{
    <form method="post" @onsubmit="Submit" @formname="login-plain-form">
        <AntiforgeryToken />
        User: 
        <InputText @bind-Value="Model!.User" />
        Event: 
        <InputText @bind-Value="Model!.Event" />
        <button type="submit">Submit</button>
    </form>
}

@code {
    private int pingId = 0;
    private List<string> chats = new List<string>();
    private int chatsCnt = 0;
    private bool loggedIn = false;

    protected override void OnInitialized()
    {
        if (ChatService.UserName != null && ChatService.EventTitle != null)
        {
            loggedIn = true;
            pingId = ChatService.PingId;
            chats = ChatService.Chat;
        }
        ChatService.PropertyChanged += UpdatePage;
        Model ??= new();
        PostModel ??= new();
    }

    [SupplyParameterFromForm]
    public Login? Model { get; set; }

    [SupplyParameterFromForm]
    public Post? PostModel { get; set; }

    private void Submit()
    {
        ChatService.UserName = Model?.User;
        ChatService.EventTitle = Model?.Event;
        loggedIn = true;
    }

    private void PostMessage()
    {
        ChatService.PostMessage(PostModel?.Message);
        PostModel.Message = "";
    }

    public class Login 
    {
        public string? User { get; set; }
        public string? Event { get; set; }
    }

    public class Post 
    {
        public string? Message { get; set; }
    }

    private ElementReference scrollContainer;

    private void ScrollToBottom()
    {
        JS.InvokeVoidAsync("scrollToBottom", scrollContainer);
    }

    private async void UpdatePage(object sender, PropertyChangedEventArgs e)
    {
        try
        {
            if (e.PropertyName == nameof(ChatService.PingId))
            {
                pingId = ChatService.PingId;
                await InvokeAsync(StateHasChanged);
            }
            if (e.PropertyName == nameof(ChatService.Chat))
            {
                chats = ChatService.Chat;
                await InvokeAsync(StateHasChanged);
                if (chats.Count != chatsCnt)
                {
                    chatsCnt = chats.Count;
                    ScrollToBottom();
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }
}

