@page "/chat"
@rendermode InteractiveServer
@using System.ComponentModel
@using pp_blazor.ScopedService
@inject ChatService ChatService
@inject IJSRuntime JS

<PageTitle>Chat</PageTitle>

@if (loggedIn)
{
    <h2>Chat</h2>
    @foreach (var chat in chats)
    {
        <span>@chat.Item1</span>
        <span>@chat.Item2</span>
        <br />
    }
    <form method="post" @onsubmit="PostMessage" @formname="post-plain-form" style="margin-bottom: 5px;">
        <AntiforgeryToken />
        <InputText @ref=inputTextChat @bind-Value="PostModel!.Message" style="width: 400px;" @onkeydown="HandleKeyDownPost" />
        <button type="submit">Post</button>
    </form>
}
else
{
    <Login/>
}

@code {
    private int pingId = 0;
    private List<Tuple<string, string, int>> chats = new List<Tuple<string, string, int>>();
    private int chatsCnt = 0;
    private bool loggedIn = false;

    private InputText inputTextChat;

    protected override void OnInitialized()
    {
        if (ChatService.UserName != null && ChatService.EventTitle != null)
        {
            loggedIn = ChatService.Init;
            pingId = ChatService.PingId;
            chats = ChatService.Chat;
        }
        ChatService.PropertyChanged += UpdatePage;
        Model ??= new();
        PostModel ??= new();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (loggedIn)
        {
            if (firstRender)
            {
                if (inputTextChat?.Element != null)
                {
                    await inputTextChat.Element.Value.FocusAsync();
                }
            }
            else
            {
                if (inputTextChat?.Element != null)
                {
                    await inputTextChat.Element.Value.FocusAsync();
                }
            }
        }
    }

    [SupplyParameterFromForm]
    public Login? Model { get; set; }

    [SupplyParameterFromForm]
    public Post? PostModel { get; set; }

    private async Task PostMessage()
    {
        if (PostModel?.Message != null)
        {
            ChatService.PostMessage(PostModel?.Message);
            PostModel.Message = "";
        }
    }

    private async Task HandleKeyDownPost(KeyboardEventArgs e)
    {
        if (e.Key == "Enter" && !e.CtrlKey && !e.AltKey && !e.ShiftKey)
        {
            if (loggedIn)
            {
                PostMessage();
            }
        }
    }

    public class Post 
    {
        public string? Message { get; set; }
    }

    private ElementReference scrollContainer;

    private void ScrollToBottom()
    {
        JS.InvokeVoidAsync("scrollToBottom", scrollContainer);
    }

    private async void UpdatePage(object sender, PropertyChangedEventArgs e)
    {
        try
        {
            if (e.PropertyName == nameof(ChatService.Init))
            {
                loggedIn = ChatService.Init;
                await InvokeAsync(StateHasChanged);
            }
            if (e.PropertyName == nameof(ChatService.PingId))
            {
                pingId = ChatService.PingId;
                await InvokeAsync(StateHasChanged);
            }
            if (e.PropertyName == nameof(ChatService.Chat))
            {
                chats = ChatService.Chat;
                await InvokeAsync(StateHasChanged);
                if (chats.Count != chatsCnt)
                {
                    chatsCnt = chats.Count;
                    ScrollToBottom();
                }
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Exception: {ex.Message}");
        }
    }
}

